@page
@model TallerMec.App.Front.Pages.JefeOperaciones.GestionJefeOperaciones
@{

}


<style>
    h1 {
        text-align: center;
        color: blue
    }

    h3 {
        text-decoration: underline;
    }
</style>

<h1>Bienvenido - Jefe de Operaciones</h1>
<br>
<br>
<h3>Información general vehículos registrados:</h3>
<br>

<table class="table table-hover">
    <thead class="table-dark">
        <tr class="text-center">
            <th scope="col">Placa Vehículo</th>
            <th scope="col">Marca Vehículo</th>
            <th scope="col">Tipo Vehículo</th>
            <th scope="col">Modelo Vehículo</th>
            <th scope="col">Capacidad - Personas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model.ListaVehiculos)
        {
            <tr class="text-center">
                <td>@v.vehiculoId</td>
                <td>@v.marca</td>
                <td>@v.tipoVehiculo</td>
                <td>@v.modelo</td>
                <td>@v.capacidad</td>
            </tr>
        }
    </tbody>
</table>